.container{
height: 100vh;
}
h2{
    width: 100%;
}
.informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border-radius: 25px;
    padding: 20px;
}
h3{
    width: 100%;
}
li{
    margin: 10px 0;
}
p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 40%;
}
.voltar:hover{
    opacity: 100%;
}